#map {
	height:600px;
	width:700px;
}

body {
	padding-top: 50px;
}

.main-stuff{
	margin-top: 1rem;
}

.container.foot {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
